In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('./Womens Clothing E-Commerce Reviews.csv')
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [5]:
df.columns

Index(['Unnamed: 0', 'Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

In [7]:
df.index

RangeIndex(start=0, stop=23486, step=1)

In [8]:
df.values

array([[0, 767, 33, ..., 'Initmates', 'Intimate', 'Intimates'],
       [1, 1080, 34, ..., 'General', 'Dresses', 'Dresses'],
       [2, 1077, 60, ..., 'General', 'Dresses', 'Dresses'],
       ...,
       [23483, 1104, 31, ..., 'General Petite', 'Dresses', 'Dresses'],
       [23484, 1084, 28, ..., 'General', 'Dresses', 'Dresses'],
       [23485, 1104, 52, ..., 'General Petite', 'Dresses', 'Dresses']],
      dtype=object)

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.shape

(23486, 11)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [13]:
df['Age']

0        33
1        34
2        60
3        50
4        47
         ..
23481    34
23482    48
23483    31
23484    28
23485    52
Name: Age, Length: 23486, dtype: int64

In [15]:
Age_df = df["Age"]
Age_df.head()

0    33
1    34
2    60
3    50
4    47
Name: Age, dtype: int64

In [16]:
type (Age_df)

pandas.core.series.Series

In [17]:
subet = df[["Age", "Title", "Class Name"]]

In [18]:
subet.head()

   Age                    Title Class Name
0   33                      NaN  Intimates
1   34                      NaN    Dresses
2   60  Some major design flaws    Dresses
3   50         My favorite buy!      Pants
4   47         Flattering shirt    Blouses

In [19]:
df.loc[2]

Unnamed: 0                                                                 2
Clothing ID                                                             1077
Age                                                                       60
Title                                                Some major design flaws
Review Text                I had such high hopes for this dress and reall...
Rating                                                                     3
Recommended IND                                                            0
Positive Feedback Count                                                    0
Division Name                                                        General
Department Name                                                      Dresses
Class Name                                                           Dresses
Name: 2, dtype: object

In [20]:
df.loc[2,3]

KeyError: 3

In [21]:
df.loc[[2,3]]

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants

In [22]:
df.iloc[2]

Unnamed: 0                                                                 2
Clothing ID                                                             1077
Age                                                                       60
Title                                                Some major design flaws
Review Text                I had such high hopes for this dress and reall...
Rating                                                                     3
Recommended IND                                                            0
Positive Feedback Count                                                    0
Division Name                                                        General
Department Name                                                      Dresses
Class Name                                                           Dresses
Name: 2, dtype: object

In [25]:
subset = df.loc[:,['Age', 'Title']]

In [26]:
subset.head()

   Age                    Title
0   33                      NaN
1   34                      NaN
2   60  Some major design flaws
3   50         My favorite buy!
4   47         Flattering shirt

In [28]:
df.loc[df['Class Name'] == 'Dresses',['Rating', "Age"] ]

       Rating  Age
1           5   34
2           3   60
5           2   49
8           5   24
9           5   34
...       ...  ...
23478       1   32
23481       5   34
23483       3   31
23484       3   28
23485       5   52

[6319 rows x 2 columns]

In [37]:
df.loc[(df['Class Name'] == 'Dresses') & (df["Rating"] ==5),['Rating', "Age"]]

       Rating  Age
1           5   34
8           5   24
9           5   34
11          5   39
12          5   53
...       ...  ...
23470       5   39
23473       5   29
23474       5   32
23481       5   34
23485       5   52

[3397 rows x 2 columns]

In [38]:
pd_long = pd.melt(df, id_vars="Clothing ID" ) #wrong

In [39]:
df_long.head()

NameError: name 'df_long' is not defined

In [41]:
df_long = pd.melt(df, id_vars="Clothing ID" ) #the columns i don't want to change

In [42]:
df_long

        Clothing ID    variable    value
0               767  Unnamed: 0        0
1              1080  Unnamed: 0        1
2              1077  Unnamed: 0        2
3              1049  Unnamed: 0        3
4               847  Unnamed: 0        4
...             ...         ...      ...
234855         1104  Class Name  Dresses
234856          862  Class Name    Knits
234857         1104  Class Name  Dresses
234858         1084  Class Name  Dresses
234859         1104  Class Name  Dresses

[234860 rows x 3 columns]

In [44]:
df = df.drop('Positive Feedback Count', axis= 1)

In [45]:
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,General,Tops,Blouses

In [48]:
df.to_excel('./Fixed.xlsx', index = False)